/*---------------------------GERAL----------------------------*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline-color: red;
}

body {
  overflow-x: hidden;
}

/*---------------------------SEÇÃO HEADER----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

header{
    width: 100%;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}

#logo {
    display: flex;
    color: #3DB125;
    font-size: 24px;

}

#fonte {
  font-family: "Kulim Park";
  text-transform: uppercase;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #3DB125;
}

#mobile-btn {
    display: none;
}

#mobile-menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav-list{
        display: none;
    }
    #mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile-nav {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile-nav .nav-item {
        list-style: none;
        text-align: center;
    }
}


/*Laptops*/
@media(min-width: 1024px){

    #nav-list{
        display: block;
        display: flex;
    }

    #mobile-btn{
        display: none;
    }
    
}



/*---------------------------SEÇÃO HOME----------------------------*/

#home {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(../../img/fundo-hero.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#cta {
    color: white;
    font-size: 24px;
    background-color: #3DB12599;
    padding: 80px 20px;
}

#cta > h1 {
    font-size: 80px;
}


#lontra {
    font-size: 160px;
    display: flex;
    justify-content: center;
}


#banner{
    position: relative;
    bottom: 44px;
    z-index: 2;
}

.banner-macaco {
    top: 50px;
    width: 100%;
    height: auto;
    position: relative;
    
    
}

/*Celular*/
@media(max-width: 450px) {
    #cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #banner{
        display: block;
    }
}

/*Celulares maiores*/
@media(max-width: 640px){

    #home{
        display: flex;
        flex-direction: column;
    }

    #banner{
        display: none;
    }

    #cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*Tablets*/
@media(max-width: 768px){

    #home{
        display: flex;
        flex-direction: column;
    }

    #banner{
        display: none;
    }

    #cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*Laptops*/
@media(max-width: 1024px){

    #cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #banner{
        display: none;
    }

    
}


/*---------------------------SEÇÃO SOBRE NOS----------------------------*/

#about {
    display: flex;
    padding: 80px 0px;
    justify-content: space-around;
}

#titulo-sobre {
    display: flex;
    justify-content: flex-start;
}

#texto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:40px;
    gap:12px;

}

#texto > h2 {
    font-size: 60px;
}

#texto-sobre{
    font-size: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap:12px;
}

#mais:hover{
    font-weight: bold;
    transform: scale(1.05);
    cursor: pointer;

}

#partebaixo {
    display: flex;
    gap:50px;
    color: white;
    padding:100px 30px;
    display: flex;
    flex-direction: column;
}

#info1{
    display: flex; 
    background-color: #3DB125;
    width:400px;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding:20px;
    gap:20px;

}

#mover{
    justify-items: center;
}

/*Celular*/
@media(max-width: 450px) {
    #about{
        display: flex;
        flex-direction: column;
    }

    #titulo-sobre{
        justify-content: center;
    }

    #texto{
        padding:20px;
        display: flex;
        flex-direction: column;
        gap:12px;
    }

    #texto-sobre{
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap:12px;
    }

    #partebaixo {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #info1{
        display: flex;
        width: auto;
        height: 100px;
        padding: 20px;
        gap:20px;
        
    }
   
}

/*Celulares maiores*/
@media(max-width: 640px){
    #about{
        display: flex;
        flex-direction: column;
    }

    #titulo-sobre{
        display: flex;
        justify-content: center;
    }

    #texto {
    display: flex;
    flex-direction: column;
    gap: 30px;;
    }

    #partebaixo {
    display: flex;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

}

/*Tablets*/
@media(max-width: 768px){
    #about{
        display: flex;
        flex-direction: column;
    }

    #titulo-sobre{
        display: flex;
        justify-content: center;
    }

    #texto {
    display: flex;
    flex-direction: column;
    gap: 30px;;
    }

    #partebaixo {
    display: flex;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

}


/*---------------------------SEÇÃO IMAGENS----------------------------*/

#galery{
    background-color: #1A4D2E;
    display: flex;
    flex-direction: column;
}

#img-titulo{
    text-align: center;
    padding: 20px;
}

#img-titulo > h2 {
    color:white;
    font-size: 40px;
}

#bloco-imagens{
    padding: 20px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

#bloco-img-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area-2{
    width: 400px;
    height: auto;
}

.area-8{
    width: auto;
    height: 466px;
}

#bloco-img-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area-3{
    width: 400px;
    height: auto;
}

.area-9{
    width: 400px;
    height: auto;
}

#bloco-img-3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area-4{
    width: 400px;
    height: auto;
}

.area-10{
    width: auto;
    height: 500px;
}

#bloco-img-4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area-11{
    width: auto;
    height: 542px;
}

.area-6{
    width: 400px;
    height: auto;
}

#bloco-img-5{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area-5{
    width: 400px;
    height: auto;
}

.area-12{
    width: auto;
    height: 500px;
}




/*---------------------------SEÇÃO ATRAÇÕES----------------------------*/

#animals{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px 20px;
    height: 960px;
}

#titulo_animais{
    text-align: center;
    font-size: 40px;
}

#atracoes{
    display: flex;
    padding: 10px 0px;
    gap: 20px;
}

#mamiferos{
    background-image: url(../../img/mamifero.jpg);
    background-size: cover;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease;
}

#atracao{
    color: white;
    font-size: 40px;
    margin-top: auto; 
}

#mamiferos:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#repteis{
    background-image: url(../../img/Repteis.jpg);
    background-size: cover;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease;
}

#repteis:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#aves{
    background-image: url(../../img/aves.jpg);
    background-size: cover;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease;
}

#aves:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#aquario{
    background-image: url(../../img/aquario.jpg);
    background-size: cover;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease;
}

#aquario:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#museu{
    background-image: url(../../img/museu.jpg);
    background-size: cover;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease; 
}

#museu:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/*Celular*/
@media(max-width: 450px) {
    #titulo_animais{
        font-size: 30px;
    }

    #atracoes{
        overflow-x: auto;
    }

}

/*Celulares maiores*/
@media(max-width: 640px){
     #atracoes{
        overflow-x: auto;
    }

}

/*Tablets*/
@media(max-width: 768px){
     #atracoes{
        overflow-x: auto;
    }

}

/*Laptops*/
@media(max-width: 1024px){

    #atracoes{
        overflow-x: auto;
    }
}



/*---------------------------SEÇÃO INGRESSOS----------------------------*/

#tickets{
    background-color: #914F1E;
    
    padding: 60px 0px;
}    

#titulo-tickets{
    color:white;
    display: flex;
    justify-content: center;
    font-size: 40px;

}

#ingressos{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 60px 0px;
}

.cartao{
    background-color: white;
    width:400px;
    height: 600px;
    gap: 10px;
}

.cartao > h3{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 20px 0px;
}

#linha {
    width: 300px;
    height: 1px;
    background-color: black;
    margin: 0 auto;
}

#texto-ingresso{
    padding: 30px 0px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:12px;

}

#compre {
    background-color: #FFB200;
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    transition: transform 0.3s ease; 
}

#compre:hover{
    background-color: red;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

#especifica{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

#adulto{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#crianca{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

#valor{
    color:#3DB125;
    font-weight: bold;
    font-size: 26px;
}

#texto-ingresso2{
    padding: 36px 0px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:12px;

}

/*Celular*/
@media(max-width: 450px) {
    #ingressos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:20px;
    }

    .cartao {
        width: 350px;
        height: auto;
    }

    #texto-ingresso,
    #texto-ingresso2{
        font-size: 24px;
    }

    #especifica{
        font-size: 24px;
    }

    #valor{
        font-size: 30px;
    }
}

/*Celulares maiores*/
@media(max-width: 640px){
     #ingressos{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

}

/*Tablets*/
@media(max-width: 768px){
     #ingressos{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

}



/*---------------------------SEÇÃO PROJETOS----------------------------*/

#titulo-projetos{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 60px 0px;
}

#projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.projeto-info,
#projeto-info3,
#projeto-info1{
    display: flex;
    justify-content: space-around;
}

.voluntario{
    width: 300px;
    height: auto;
    transition: transform 0.3s ease; 
}

.foto-projeto:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#paragrafo{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#paragrafo-doacao{
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: right;
    align-items: flex-end;
}

/*Telas grandes*/
@media(max-width: 1280px){

    #projetos{
        display: flex;
        flex-direction: column;
        gap:80px;
    }

    .projeto-info{
        text-align: justify;
        gap: 20px;
    }

    #projeto-info1{
        text-align: justify;
        gap: 20px;
    }

    #projeto-info3{
        text-align: justify;
        gap: 20px;
    }
    
}

/*Laptops*/
@media(max-width: 1024px){

    #projetos{
        display: flex;
        flex-direction: column;
        gap:80px;
    }

    #projeto-info1{
        display: flex;
        gap: 20px;
        text-align: justify;
    }

    .projeto-info{
        display: flex;
        gap: 20px;
    }

    #paragrafo-doacao{
        text-align: justify;
    }

    #projeto-info3{
        display: flex;
        gap: 20px;
        text-align: justify;
    }

    .foto-projeto{
        display: flex;
        object-fit: contain;
    }
}

/*Tablets*/
@media(max-width: 768px){
     #projetos{
        display: flex;
        flex-direction: column;
        gap:80px;
    }

    .foto-projeto{
        display: flex;
        object-fit: contain;
        justify-content: center;
    }

    #projeto-info1{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        text-align: justify;
    }

    .projeto-info{
        display: flex;
        gap: 20px;
    }

    #paragrafo-doacao{
        text-align: justify;
    }

    #projeto-info3{
        display: flex;
        gap: 20px;
        text-align: justify;
    }

    .foto-projeto{
        display: flex;
        object-fit: contain;
    }

}

/*Celulares maiores*/
@media(max-width: 640px){
     #projetos{
        display: flex;
        flex-direction: column;
        padding:20px;
        gap:80px;
    }

    #projeto-info1{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        text-align: justify;
    }

    .projeto-info{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #paragrafo-doacao{
        text-align: justify;
    }

    #projeto-info3{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        text-align: justify;
    }

    .foto-projeto{
        display: flex;
        object-fit: contain;
    }

}

/*Celular*/
@media(max-width:450px){
    #projetos{
        display: flex;
        flex-direction: column;
        padding:0px;
    }

    #titulo-projetos{
        padding:40px 0px;
    }

    #paragrafo{
        text-align: justify;
        gap:20px;
    }

    #projeto-info1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding:20px;
        flex-wrap: wrap;
        gap: 30px;
    }

    .projeto-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:20px;
        flex-wrap: wrap;
        gap: 30px;
    }

    #projeto-info3{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding:20px;
        flex-wrap: wrap;
        gap: 20px;
    }

    #paragrafo-doacao{
        display: flex;
        flex-direction: column;
        gap: 18px;
        text-align: justify;
    }
}

/*---------------------------FOOTER----------------------------*/

#rodape{
    background-color: #1A4D2E;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#botoes{
    display: flex;
    gap: 20px;
}

#caixa-entrada{
    width: 200px;
    height: 30px;
    background-color: white;
    color: gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding:10px;
}

#enter{
    width:100px;
    height: 30px;
    background-color: #3DB125;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#espaco{
    display: flex;
    justify-content: space-between;
    padding:40px;
}

#linha2{
    width: 1200px;
    height: 1px;
    background-color: white;
    margin: 0 auto;
}

#meio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

#logo-rodape{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#final{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap:14px;
}

#fim{
    display: flex;
    justify-content: space-between;
    color:white;
    padding: 40px;
}

/*Celular*/
@media(max-width: 450px) {
    #espaco{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px;

    }

    #footer-info{
        font-size: 24px;
        text-align: justify;
    }

    #linha2{
    width: 300px;
    height: 1px;
    background-color: white;
    margin: 0 auto;

    }

    #meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap:60px;

    }

    #final{
        gap:30px;
    }

    #fim{
    display: flex;
    flex-direction: column;
    color:white;
    padding: 20px;
    gap:40px;
    align-items: center;
}

}

/*Celulares maiores*/
@media(max-width: 640px){
     #espaco{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
     }

     #linha2{
        width: 500px;
        height: 1px;
        background-color: white;
        margin: 0 auto;

    }

    #meio{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:60px;

    }

    #fim{
        display: flex;
        flex-direction: column;
        gap:40px;
        align-items: center;
}

}

/*Tablets*/
@media(min-width: 768px){
     #linha2{
        width: 600px;
        height: 1px;
        background-color: white;
        margin: 0 auto;

    }

}

/*Laptops*/
@media(min-width: 1024px){
     #linha2{
        width: 900px;
        height: 1px;
        background-color: white;
        margin: 0 auto;

    }

}

/*Telas Grandes*/
@media(min-width: 1280px){
     #linha2{
        width: 1110px;
        height: 1px;
        background-color: white;
        margin: 0 auto;

    }

}

/*Monitores grandes*/
@media(min-width: 1536px){
     #linha2{
        width: 1400px;
        height: 1px;
        background-color: white;
        margin: 0 auto;

    }

}


